body {
  margin: 0;
  font-family: $template-font-1;
}

input {
  outline: 0;
}

select {
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}
.container {
  @include screen-min-768 {
    padding: 0 !important;
  }
}
