// Google Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

// Template Font Name
$template-font-1: "Poppins", sans-serif;
$template-font-2: "Saira", sans-serif;

$white-color: #ffffff;
$black-color: #030712;
$dark-color: #000;

// Template Color Name
$primary-color-950: #1f0300;
$primary-color-900: #3d0500;
$primary-color-800: #800b00;
$primary-color-700: #bd1000;
$primary-color-600: #fa1600;
$primary-color-500: #ff4c3b;
$primary-color-400: #ff6f61;
$primary-color-300: #ff948a;
$primary-color-200: #ffb9b3;
$primary-color-100: #ffdad6;
$primary-color-50: #ffeceb;

$secondary-color-700: #fac03c;
$secondary-color-500: #050404;
$secondary-color-400: #3c3030;
$secondary-color-300: #745d5d;
$secondary-color-200: #a79191;
$secondary-color-100: #d2c6c6;
$secondary-color-50: #e8e3e3;

$danger-color-500: #f2415a;

$green-color-500: #27be69;

$text-color-950: #1f0300;
$text-color-900: #351c1a;
$text-color-800: #4c3533;
$text-color-700: #574240;
$text-color-600: #796866;
$text-color-500: #9a8e8c;
$text-color-400: #b7aead;
$text-color-300: #c7c0bf;
$text-color-200: #d9d4d4;
$text-color-100: #e9e6e6;
$text-color-50: #f8f7f7;

// Border Color
$border-color: #e6e6e6;
$border-color-400: #e6e8ec;
$img-border-color: #858585;
$dropdown-border-color: #ced2d9;
$deal-day-bg: rgba(255, 76, 59, 0.05);
$positive-500: #27be69;
$contact-icon-bg: #ffa11a;
$fax-number-bg: #27be69;
$email-icon-bg: #1243ee;

$disable-color: #a0a0a0;

// ovarlay color
$overlay-color: rgba(15, 42, 66, 0.5);
$icon-bg: rgba(255, 177, 52, 0.1);

// bg
$bg-light-white: #f6f6f6;
$bg-light-pink: #fff5f5;
$light-gray-color: #e0e0e0;
$gray-700: #344054;
$blue-grey-700: #737791;
$blue-500: #147fff;
$blue-700: #0061d4;

// Transition
$transition: all 0.3s ease-in;
$transition-md: all 0.4s ease-in;
