// gs-product-sidebar-wrapper
.gs-product-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  // price-range
  .price-range {
    padding-top: 24px;
    .ui-widget.ui-widget-content {
      border: none;
      height: 8px;
      background: $text-color-100;
      border-radius: 2px;
    }

    .ui-slider .ui-slider-range {
      background-color: $primary-color-500;
    }
    .ui-slider-handle {
      cursor: pointer;
      top: -10px;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      border-radius: 50%;
      border: 2px solid $primary-color-500;
      &.ui-state-active {
        background-color: $primary-color-500;
      }
      &:focus-within {
        color: $primary-color-500;
        outline: none;
      }
    }

    .range_output {
      width: 100%;
      margin-top: 24px;
      color: $text-color-950;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      border: none;
    }
  }

  // warranty-type
  .warranty-type {
    padding-top: 24px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  // recent-post-widget
  .gs-recent-post-widget {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
  }
}

.mobile-menu-widget > .single-product-widget {
  padding: 0;
}

// product-cat-widget
.product-cat-widget {
  padding-top: 24px;
  ul {
    li {
      &.main-list {
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        color: $text-color-950;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        width: 100%;
        display: block;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          color: $primary-color-500;
        }
        &[data-bs-toggle="collapse"] {
          position: relative;

          &::after {
            content: "-";
            font-size: 24px;
            position: absolute;
            right: 0;
          }
          &[aria-expanded="true"] {
            color: $primary-color-500;
            &::after {
              // content: "-";
              content: "";
            }
          }
          &[aria-expanded="false"] {
            &::after {
              // content: "+";
              content: "";
            }
          }
        }
      }

      button {
        &[aria-expanded="true"] {
          color: $primary-color-500;

          .fa-solid.fa-minus {
            display: block;
          }
          .fa-solid.fa-plus {
            display: none;
          }
        }
        &[aria-expanded="false"] {
          .fa-solid.fa-plus {
            display: block;
          }
          .fa-solid.fa-minus {
            display: none;
          }
        }
      }

      ul li {
        margin-bottom: 0!important;
        a {
          margin-bottom: 16px;
        }
      }
    }
  }
}

// product-nav-wrapper
.product-nav-wrapper {
  background-color: $white-color;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  h5 {
    font-weight: 500;
  }
  .sort-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .filter-wrapper {
    display: flex;
    gap: 40px;
    @include screen-992 {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  .btn-wrapper {
    display: flex;
    gap: 12px;
    .grid-btn {
      display: inline-flex;
      height: 48px;
      padding: 13px 9px;
      align-items: flex-start;
      border-radius: 4px;
      border: 1px solid $text-color-300;
      &.active {
        svg {
          path {
            fill: $primary-color-500;
          }
        }
      }
    }
  }
}

// attribute-wrapper
.attribute-wrapper {
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
