.gs-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  li {
    &.active {
      a {
        background-color: $primary-color-500;
        color: $white-color;
        border: $primary-color-500;
        svg {
          path {
            fill: $white-color;
          }
        }
      }
    }
    a {
      display: flex;
      width: 49px;
      height: 48px;
      padding: 11px 9px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      border: 1px solid $text-color-500;
      background: $white-color;
      color: $text-color-950;
      font-size: 20px;
      line-height: 130%;
      transition: $transition;
      svg {
        path {
          transition: $transition;
        }
      }
      &:hover {
        background-color: $primary-color-500;
        color: $white-color;
        border: $primary-color-500;
        svg {
          path {
            fill: $white-color;
          }
        }
      }
      @include screen-400 {
        width: 35px;
        height: 35px;
      }
    }
  }
}
