//ticker animation
@keyframes ticker {
    0% {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  
    100% {
      transform: translate3d(-100%, 0, 0);
    }
}

@keyframes theme_fadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  50% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes theme_fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes product-hover {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes flipimage {
  0% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(0.8) rotateY(90deg)
  }
  100% {
    transform: scale(1) rotateY(0);
  }
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}