.account-information .account-info-box .account-info .account-info-item .info-title {
  font-size: 16px;
  font-weight: 500; }

.account-information .account-info-box .account-info .account-info-item .info-content {
  font-size: 16px;
  font-weight: 400; }
