#toast-container {
  position: fixed !important;
  bottom: 12px !important;
  right: 12px !important;
  top: auto !important;
  left: auto !important;
  width: auto !important;
}

#toast-container.toast-top-right,
#toast-container.toast-top-left,
#toast-container.toast-bottom-left,
#toast-container.toast-top-center,
#toast-container.toast-bottom-center {
  bottom: 12px !important;
  right: 12px !important;
  top: auto !important;
  left: auto !important;
}

#toast-container > div {
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px;
}

@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
