@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@-webkit-keyframes theme_fadeInUp {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes theme_fadeInUp {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes theme_fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes theme_fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes product-hover {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); } }

@keyframes product-hover {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); } }

@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  51% {
    opacity: 1; } }

@keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  51% {
    opacity: 1; } }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }

@keyframes shine {
  100% {
    left: 125%; } }

@-webkit-keyframes flipimage {
  0% {
    -webkit-transform: scale(1) rotateY(0deg);
    transform: scale(1) rotateY(0deg); }
  50% {
    -webkit-transform: scale(0.8) rotateY(90deg);
    transform: scale(0.8) rotateY(90deg); }
  100% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0); } }

@keyframes flipimage {
  0% {
    -webkit-transform: scale(1) rotateY(0deg);
    transform: scale(1) rotateY(0deg); }
  50% {
    -webkit-transform: scale(0.8) rotateY(90deg);
    transform: scale(0.8) rotateY(90deg); }
  100% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0); } }

@-webkit-keyframes loading {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes loading {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
